<% provide(:title, "Viewer") %>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <% if Image.running? %>
        <img class="viewer" src="http://192.168.1.108:8080/?action=stream">
      <% else %>
        <%= image_tag "m104_01_640x480.jpg", class: "viewer" %>
      <% end %>
    </div>
    <%= link_to "<span class='glyphicon glyphicon-refresh'></span> "\
        "Refresh".html_safe,
      request.original_url,
      class: "btn btn-fteblue btn-md",
      data: { toggle: 'tooltip', placement: 'top' },
      title: 'Refresh page' %>
    <%= link_to "<span class='glyphicon glyphicon-play'></span> "\
        "Start".html_safe,
      start_path,
      class: "btn btn-ftegreen btn-md",
      data: { toggle: 'tooltip', placement: 'top' },
      title: 'Start stream' %>
    <%= link_to "<span class='glyphicon glyphicon-stop'></span> "\
        "Stop".html_safe,
      stop_path,
      class: "btn btn-ftered btn-md",
      data: { toggle: 'tooltip', placement: 'top' },
      title: 'Stop stream' %>
    <%= link_to "<span class='glyphicon glyphicon-camera'></span> "\
        "Capture Image".html_safe,
      stop_path,
      class: "btn btn-ftered btn-md pull-right",
      data: { toggle: 'tooltip', placement: 'top' },
      title: 'Capture image currently in viewer' %>
  </div>
  <div class="col-md-2">
    <%= form_for(@image) do |f| %>
      <%= f.label :sharpness %>
      <%= f.number_field :sharpness, { min: -100, max: 100, class: 'form-control' } %>

      <%= f.label :contrast %>
      <%= f.number_field :contrast, { min: -100, max: 100, class: 'form-control' } %>

      <%= f.label :brightness %>
      <%= f.number_field :brightness, { min: 0, max: 100, class: 'form-control' } %>

      <%= f.label :saturation %>
      <%= f.number_field :saturation, { min: -100, max: 100, class: 'form-control' } %>

      <%= f.label :iso, "ISO" %>
      <%= f.number_field :iso, { min: 100, max: 800, step: 100, class: 'form-control' } %>
    <% end %>
  </div>
</div>
